body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 45px;
  color: #ffffff;

  // This is the linear gradient I used in the example images
  background: linear-gradient(to bottom, #111951 0%, #421f6f 30%, #612384 100%) fixed;
}

#search-btn {
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#weather-input {
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 1rem;
}

.forecast-container {
  color: #000000;
}
.forecast-container .card {
  background-color: #dbd3e3;
  height: 200px;
}

.header-container {
  margin-bottom: 7rem;
}

// This could be done via a more generalized approach to center the contents
.high-low-container .icon-container {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.temp-high-container {
  border-right: 2px solid #612284;
}

.current-container {
  margin: 3rem;
}

#location {
  font-size: 32px;
}

#current-date,
#current-time {
  font-size: 18px;
}

#current-temp {
  font-size: 72px;
}

#current-weather {
  font-size: 28px;
}

#current-summary {
  font-size: 18px;
}

// Bootstrap media query mixin would typically be used here instead
@media (max-width: 991px) {
  .forecast-row > div + div {
    margin-top: 1rem;
  }
}
